<!DOCTYPE html>
<html>
  <body>
    <main>
      <p id = "notice"></p>
      <div class = "row">
        <h1 class = "px-3 mx-auto">
          "Welcome to "
          <strong>Bookers</strong>
          "!"
        </h1>
      </div>
    </main>
  </body>
</html>